{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}ToodleDo - Task List{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
            <h1 class="">Task List<button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#createTaskModal">
        <i class="fa-solid fa-pen"></i></button></h1>
        </div>

        <div class="accordion" id="taskAccordion">
            {% for task in tasks %}
            <div class="accordion-item col-md-8 col-lg-6 mx-auto">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        {{ task.title }} | {{ task.due_date }} | {{ task.priority }}
                        
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#taskAccordion">
                    <div class="accordion-body">
                        <p><strong>Status:</strong> {{ task.status }}</p>
                        <p><strong>Due Date:</strong> {{ task.due_date }}</p>
                        <p><strong>Priority:</strong> {{ task.priority }}</p>
                        <p><strong>Category:</strong> {{ task.category }}</p>
                        <p><strong>Description:</strong> {{ task.description }}</p>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="document.getElementById('taskTitle').innerText = '{{ task.title }}'; document.getElementById('deleteForm').action = '/tasks/{{ task.id }}/delete/'">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="alert alert-info" role="alert">
                No tasks available.
            </div>
            {% endfor %}
        </div>
</div>

<!-- Modal for creating a new task -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="createTaskModalLabel">Create New Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'add_task' %}">
                <div class="modal-body">
                
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.status|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.due_date|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.priority|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Create Task" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for deleting a task -->
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Task</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the task "<span id="taskTitle"></span>"?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Confirm Delete" class="btn btn-danger">
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

