{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %} Toodledo {% endblock %}</title>

        <meta name="description" content="Toodledo: Organize, manage, and track your tasks effortlessly with our task management app.">
        <meta name="keywords" content="toodledo, task management, task manager, task app, task organizer, task tracker, task list, task planner, task scheduler, task reminder, task management app, task manager app, task app, task organizer app, task tracker app, task list app, task planner app, task scheduler app, task reminder app">
        <meta name="author" content="Toodledo"> 

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'favicons/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="{% static 'favicons/favicon.svg' %}">
        <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
        <meta name="apple-mobile-web-app-title" content="MyWebSite">
        <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

        {% comment %} <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}"> {% endcomment %}
        {% comment %} <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}"> {% endcomment %}
        {% comment %} <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}"> {% endcomment %}
        {% comment %} <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}"> {% endcomment %}

        <!-- Bootstrap 5 CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">
        <!-- Doodlecss -->
        <link rel="stylesheet" href="{% static 'css/doodlecss/doodle.css' %}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!-- Navigation-->
        <nav id="navbar" class="navbar navbar-expand-lg doodle fixed-top m-1 p-0">
            <div class="container-fluid doodle doodle-border">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img class="border-0" src="{% static 'images/check-list_17029836.png' %}" alt="ToodleDo logo" width="30" height="30">
                    <span class="xred-fg">ToodleDo</span>
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarText"
                        aria-controls="navbarText"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link brand-1 {% if request.path == '/tasks/' %}active{% endif %}"
                                aria-current="page"
                                href="{% url 'task_list' %}">Task List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link brand-2 {% if request.path == '/board/' %}active{% endif %}"
                                aria-current="page"
                                href="{% url 'board' %}">Project Board</a>
                            </li>
                        {% endif %}
                    </ul>
                    <span class="navbar-text text-muted">
                        {% if user.is_authenticated %}
                            <a href="{% url 'account_logout' %}">Logout {{ user.username }} <i class="fa-solid fa-user"></i></a>
                        {% else %}
                            <a href="{% url 'account_login' %}">Login</a>
                            <a href="{% url 'account_signup' %}">Register</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </nav>

        <!-- displaying Django messages -->
        <div class="container doodle">
            <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div
                class="alert {{ message.tags }} alert-dismissible
                    fade show"
                id="msg"
                role="alert"
                >
                {{ message | safe }}
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>

        <main class="flex-shrink-0 main-bg doodle">
            {% block content %}
                <!-- Content Goes here -->
            {% endblock content %}
        </main>
    
      <!-- Footer -->
        <footer class="mt-auto text-center doodle-border m-1 doodle">
            <div class="container  p-4">
                <h5 class="text-uppercase">Toodledo</h5>
                <p>Effortlessly manage your tasks, set priorities, and achieve your goals with Toodledo.</p>
                <div class="text-center p-3">&copy; 2025 Toodledo. All rights reserved.</div>
            </div>
        </footer>

        <!-- Font Awesome kit -->
        <script src='https://kit.fontawesome.com/aa9af45995.js'
                crossorigin='anonymous'>
        </script>

        <!-- Bootstrap JS -->
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous'>
        </script>

        <!-- Custom JS -->
        <script src="{% static 'js/script.js' %}"></script>

        {% block extras %}
        {% endblock %}  
    </body>
</html>

